/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2019, 9:15:38 PM
    Author     : scug
*/

.txtarea{
    width: 350px;
}
.div{
    margin: auto;
    width: 400px;
}