/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Nov 2019, 21:54:21
    Author     : scug
*/

body {
    background-image: url("../tmnt/background.jpg");
}

#banner {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 50PX;
  z-index: -1;
}
img.review{
    float : right;
}

div.topdiv{
    padding-bottom: 50px;
}
div.topdiv1{
    width: 800px;
    position: relative;
    margin: auto;
    text-align: center;
    text-shadow: -2px 5px grey;
}

.center {
  border-radius: 25px;
  width: 800px;
  height: auto;
  border: 3px solid grey;
  position:relative;
  margin:  auto; 
}

.headtop{
    background-image: url("../tmnt/rbg.png");
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}
.topright{
    float: right;
    width: 250px;
    background-color: #A2B964;
    height: 1250px;
    border-top-right-radius: 23px;
}
.toprightimg{
    border-top-right-radius: 23px;   
}
.texttop{
    color: red;
    font-size: 80px;
}

.divinsidetopright{
    margin: 15px;
}
.divmain{
    width: 600px;
}
.divofmain{
    width: 43%;
    padding: 10px;
}
.divofmain1{
    width: 43%;
    padding: 10px;
    float: right;

}
.divin1{
    border-radius: 25px;
    border: 2px solid grey;
}
.divin2{
    padding: 10px;
}
.icon {
    padding-right: 10px;
        float: left;
}
.enddiv{
    height: 90px;
}
.endalldivs{
    height: 50px;
    background-color: #A2B964;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
}
.p {
    text-indent: 350px;
}
.bottomdiv{
    position: absolute;
    right: 80px;
    padding-right: 60px;
    bottom: -810px;   
}